@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #171941;
  }

html{
  scroll-behavior: smooth;
}
  
  :root{
    --roxo: #9C578D;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    height: 5em;
    flex-wrap: wrap;
  }
  
  .logo{
    display: flex;
    align-items: center;
    z-index: 1;
    color: #ffff;
    font-size: 10px;
  }
  
  .header img{
    margin-right: 0.7em;
    height: 7em;
    z-index: 1;
  }
  
  .header ul{
    display: flex;
    z-index: 1;
    cursor: pointer;
    text-align: center;
  }
  
  .header ul li{
    color: #FFFF;
    list-style: none;
    margin-left: 2em;
  }
  
  li a{
    color:#FFFF;
    text-decoration:none;
  }
  .header ul li:hover{
    background-color: var(--roxo);
    opacity: 90%;
  }
  
  button{
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: solid 1px;
    border-radius: 7px;
    width: 15rem;
    height: 3rem;
    font-size: 20px;
    border-color: #ffff;
    color: #ffff;
    transition: all .2s ease-in-out;
  }
  
  button:hover{
    background-color: var(--roxo);
    opacity: 90%;
  }

  .contatos{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    margin-bottom: 4em;
    align-items: center;
  }
  
  .logo{
    display: flex;
    align-items: center;
    z-index: 1;
    color: #ffff;
    font-size: 10px;
  }
  
  .logo img{
    margin-right: 0.7em;
    height: 7em;
  }
  
  .redes-sociais{
    color: #FFFF;
    margin-left: 2em;
    line-height: 0;
    text-align: center;
  }
  
  .redes-sociais .redes i{
    height: 20px;
    color: #FFFF;
    width: 30px;
    cursor: pointer;
  }
  
  .credito{
    text-align: center;
    color: #FFFF;
  }
  
  .credito h4{
    font-weight: normal;  
  }
  
  .credito h4 a{
    color: #FFFF;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px){
    .header{
      display: flex;
      justify-content: center;
    }

    .header ul{
      padding: 0;
      margin: 0;
      margin-top: 1em;
    }

    .header ul li{
      margin-left: 1em;
      margin-right: 1em;
    } 
  }