@keyframes move-left-right {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #171941;
}

:root{
  --roxo: #9C578D;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 5em;
}

.logo{
  display: flex;
  align-items: center;
  z-index: 1;
  color: #ffff;
  font-size: 10px;
}

.header img{
  margin-right: 0.7em;
  height: 7em;
  z-index: 1;
}

.header ul{
  display: flex;
  z-index: 1;
  cursor: pointer;
}

.header ul li{
  color: #ffff;
  list-style: none;
  margin-left: 2em;
}
.header ul li:hover{
  background-color: var(--roxo);
  opacity: 90%;
}
.index-page .squares {
  animation: move-left-right 1s infinite;
  background: #ba54f5;
  background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 20%;
}

.index-page .squares.square1 {
  animation: move-left-right 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  left: 3%;
  top: -21%;
}

.index-page .squares.square2 {
  animation: move-left-right 6s infinite;
  height: 400px;
  width: 400px;
  opacity: 0.4;
  right: 1%;
  top: -12%;
}

.index-page .squares.square3 {
  animation: move-left-right 5s infinite;
  height: 200px;
  width: 200px;
  opacity: 0.1;
  left: -5%;
  bottom: 0%;
}

.index-page .squares.square4 {
  animation: move-left-right 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.9;
  right: 27%;
  top: 70%;
}

.index-page .squares.square5 {
  animation: move-left-right 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.1;
  left: 32%;
  bottom: 29%;
}

.index-page .squares.square6 {
  animation: move-left-right 9s infinite;
  left: 10%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.8;
}

.index-page .squares.square7 {
  animation: move-left-right 3s infinite;
  width: 300px;
  height: 300px;
  right: 1%;
  bottom: 0%;
  opacity: 0.1;
}

.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.title{
  text-align: center;
  color: #ffff;
}

.title h1{
  font-size: 3rem;
  line-height: 1px;
}

.title h2{
  font-weight: normal;
  margin-bottom: 2rem;
}

button{
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px;
  border-radius: 7px;
  width: 15rem;
  height: 3rem;
  font-size: 20px;
  border-color: #ffff;
  color: #ffff;
  transition: 2ms;
}

button:hover{
  background-color: var(--roxo);
  opacity: 90%;
}

@media only screen and (max-width: 600px){
  .square6,.square1,.square5,.square4 {
    display: none;
  }

  .title h1{
    line-height: normal;
  }
}